
.super-mario {
    position: absolute;
    width: 200px;
    margin-top: 0px;
}

.goomba {
    width: 200px;
    margin-top: 300px;
}

p {
    margin-top: 154px;
    margin-left: 263px;
    font-size: 25px;
}

.word {
    z-index: 1;
}

.baloon {
    margin-top: 0px;
    margin-left: 240px;
    float: left;
    z-index: 2;
}

.bowser {
    width: 400px;
    margin-top: 90px;
    margin-left: 30px;
}